{
    "propertySettings.phoneIMEI": "358523026140029",
    "propertySettings.phoneIMSI": "460002104152829",
    "propertySettings.phoneSimSerial": "89860081884000773927",
    "propertySettings.phoneAndroidId": "a8623cc826046319",
    "propertySettings.phoneModel": "ASUS_AI2205_A",
    "propertySettings.phoneManufacturer": "ROG",
    "propertySettings.macAddress": "00DB1BC48D04"
}