{
    "propertySettings.phoneIMEI": "869394024538818",
    "propertySettings.phoneIMSI": "460000513943328",
    "propertySettings.phoneSimSerial": "89860065672995773378",
    "propertySettings.phoneAndroidId": "993b226af0ebb896",
    "propertySettings.phoneModel": "SHG07",
    "propertySettings.phoneManufacturer": "AQUOS",
    "propertySettings.macAddress": "00DB8FD63BE4"
}