{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="card card-center">
    <h1>Вход</h1>
    <form method="post">
        <label class="form-label">
            Логин
            <input type="text" name="username" class="form-input" autocomplete="username" required>
        </label>
        <label class="form-label">
            Пароль
            <input type="password" name="password" class="form-input" autocomplete="current-password" required>
        </label>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>
{% endblock %}
